@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
        </div>
}
@if (ViewData["MsgSucesso"] != null)
{
    <div class="alert-success">
        @ViewData["MsgSucesso"]
    </div>
}

<div style="margin-bottom: 19px;"></div>

<style>
    .card-container {
        display: flex;
        justify-content: center;
        margin-left: 20px; /* Adicione o margin-left para mover para a direita */
    }

    .card {
        display: inline-block;
        margin-right: 141px;
        width: 18rem;
    }
</style>

<!--Primeiro card Professor-->
<div class="card" style="width: 18rem;">
    <img src="https://scontent.fbnu4-1.fna.fbcdn.net/v/t39.30808-6/337036917_739859241153214_4841402801339542575_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeFVoPqat7jdkSKlYvyGv1TG2za6ywu9bODbNrrLC71s4KuGbf02z-G9qNZlNEufR4nJfUP_xUpB8dWZP5TehwyF&_nc_ohc=r-pkox0GhiQAX_i0X5X&_nc_ht=scontent.fbnu4-1.fna&oh=00_AfBU4YhoWNWZGKW0SAb-U4vjyMdoR0GeyWLv5OVZs4Bhtw&oe=64FD20A4" class="card-img-top" alt="Imagem do Professor">
    <div class="card-body">
        <h5 class="card-title"><strong>Katia Schmitt Pollheim</strong></h5>
        <p class="card-text"><strong>Especializamento:</strong> Desenvolvedor de Software, Professora de TI</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>MATÉRIAS:</strong></li>
        <li class="list-group-item">Desenvolver aplicações back-end</li>
        <li class="list-group-item">Desenvolver Sistemas</li>
    </ul>
    <div class="card-body">
        <a href="https://www.linkedin.com/in/katia-schmitt-pollheim-a3418b164/" class="card-link">Mais informações</a>
    </div>
</div>

<!--Segundo card Professor-->
<div class="card" style="width: 18rem;">
    <img src="https://scontent.fbnu4-1.fna.fbcdn.net/v/t39.30808-6/343931159_208985464933802_7882312852151703033_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeHCHxiC21GIghrq4JvRY__ssqV-bvB9qpiypX5u8H2qmDvJ5FQH3H_wePhXELGF1PZIBejS3vbi11-_hHtNAVyj&_nc_ohc=O5CLEZ961RMAX_vTnod&_nc_ht=scontent.fbnu4-1.fna&oh=00_AfCsyJvRMdOqKC0q4xDR10MzN5-jKoGqTu63hMG0YjYH2Q&oe=64FD62D3" class="card-img-top" alt="Imagem do Professor">
    <div class="card-body">
        <h5 class="card-title"><strong>Nivaldo Pühler</strong></h5>
        <p class="card-text"><strong>Especializamento:</strong> Product Manager, Professor, Mentor</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>MATÉRIAS:</strong></li>
        <li class="list-group-item">Implementar Banco de Dados</li>
        <li class="list-group-item">Elaborar projetos de aplicações</li>
    </ul>
    <div class="card-body">
        <a href="https://www.linkedin.com/in/nivaldopuhler/" class="card-link">Mais informações</a>
    </div>
</div>


<!--Terceiro card Professor-->
<div class="card" style="width: 18rem;">
    <img src="https://scontent.fbnu4-1.fna.fbcdn.net/v/t1.18169-9/27858269_10215642041421666_618809075395381978_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEKmL19ya5hByWc0dj_98BNM-v0myPCMFMz6_SbI8IwU74TriAy5-_JPVwiI049L5Y2jzokttVr3iA77nWfhUCt&_nc_ohc=44UM-JFAf-8AX8do0Xz&_nc_ht=scontent.fbnu4-1.fna&oh=00_AfBO1ajFVA3WVzi2DZsqEXborGK23WxlWjAecZymS_kefw&oe=65202AF1" class="card-img-top" alt="Imagem do Professor">
    <div class="card-body">
        <h5 class="card-title"><strong>Gustavo Guanabara</strong></h5>
        <p class="card-text"><strong>Especializamento:</strong>  Professor, Mentor</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>MATÉRIAS:</strong></li>
        <li class="list-group-item">Estruturar aplicações front-end</li>
        <li class="list-group-item">Publicar aplicações web</li>
    </ul>
    <div class="card-body">
        <a href="https://www.linkedin.com/in/guanabara/" class="card-link">Mais informações</a>
    </div>
</div>


